@if (sessionExpiredService.visible()) {
  <div class="session-expired-banner">
    <span>⚠️ Sua sessão expirou. Redirecionando para o login...</span>
  </div>
}

@if (isAuthenticated()) {
<header class="app-header"> 
  <div class="header-brand" (click)="goToDashboard()">
    <!--<span class="brand-dot"></span>-->
    <div class="brand-name">CityBlockMap</div>
  </div>

  <div class="header-actions">

    <div class="user-menu" (click)="toggleUserMenu()">
      <div class="user-info">
        <span id="userName">{{ getLogin() }}</span>
        <span class="dropdown-arrow" [class.open]="isMenuOpen">▲</span>
      </div>
 
      <div class="dropdown-content" *ngIf="isMenuOpen">
        
        @if (isAdmin()) 
        {
        <button class="dropdown-item new-user" (click)="goToRegister()">+ Novo Usuário</button>
        
        <button class="dropdown-item new-neighborhood" (click)="goToNeighborhoodRegister()">+ Novo Bairro</button>

        <button class="dropdown-item new-block" (click)="goToBlockRegister()">+ Nova quadra</button>
        }
        <button class="dropdown-item settings" (click)="goToSettings()">Configurações</button>

        <button class="dropdown-item logout" (click)="logout()">Sair</button>
      </div>
    </div>

    <!--<span class="header-user">{{ getLogin() }}</span>-->
    <!--<button type="button" class="btn-new-user" (click)="goToRegister()">
      + Novo Usuário
    </button>-->
    <!--<button class="btn-logout" (click)="logout()">Sair</button>-->
  </div>

</header>
}

<router-outlet></router-outlet>